header{
    position: sticky;
    top:0;
    z-index:100;
}

#home_main{
    background-image: url(home.jpeg);
    background-repeat: round;
    height:500px;
    text-align: center;
    padding-top:200px;
}

#home_main span{
    font-size: 3.5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-shadow:5px 2px white;
}

.projects,.Manufacturers{
    margin-top:30px;
    text-align: center;
}

.projects .row,.Manufacturers .row{
    margin-top:30px;
}

.projects span,.Manufacturers span{
    font-size: 2.5em;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.proj_detail,.manufac_detail{
    background-color: whitesmoke;
    padding-bottom:3px;
    border-radius:3px;
}

.proj img,.manufac img{
    width:100%;
    border-radius:3px;
}
